.card {
  background: transparent !important;
  border: none !important;
  height: 100%;
}

// main section
.main-section {
  min-height: 100vh;
  padding-top: 10rem;
  background: rgba(0, 0, 0, 0.5) url("../../images/Web-Slide-full.jpg") no-repeat center;

  & .btn {
    font-size: 25px;
  }
}

// about section styles
.about-section {
  font-size: 50px;
  padding: 20px 30px;
  //background: url("../../images/bgabout.jpg") no-repeat center;

  & .card-img-top {
    height: 90%;
    max-height: 450px;
  }
  & .about-box{
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid rgba(85, 126, 185, 0.71);
    border-right: 10px solid #6042b9;
    border-left: 10px solid #6042b9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    margin-right: 5px;
  }
  & .img-small{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  & .btn {
    font-size: 30px;
  }
}

.about-image {
  width: 100%;
  height: 100%;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-list {
  list-style: none;
  padding: 0;

  & li {
    margin-top: 10px;
    font-size: 30px;
  }
}

// steps section

.steps-section {
  .col-md-4, .col-4 {
    position: relative;
  }

  & h1 {
    //font-size: 4rem;
  }

  & h2 {
    //font-size: 2rem;
  }
}

.box {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #6042b9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  padding-right: -0.5rem;
  color: white;
}

.box-1 {
  &:after {
    content: "";
    position: absolute;
    background-color: #6042b9;
    height: 10px;
    top: 27%;
    right: 0;
    width: 40%;
  }
}

.box-2 {
  &:after, &:before {
    content: "";
    position: absolute;
    background-color: #6042b9;
    height: 10px;
    top: 27%;
    width: 40%;
  }

  &:before {
    left: 0 !important;
  }

  &:after {
    right: 0;
  }
}

.box-3 {
  &:before {
    content: "";
    position: absolute;
    background-color: #6042b9;
    height: 10px;
    top: 27%;
    left: 0;
    width: 40%;
  }
}

//costs section

.shadowed-box {
  padding: 30px 0;
  border-radius: 2em;
  background-color: #E3E3E3;
  box-shadow: 5px 5px 15px 6px rgba(84, 84, 84, 0.76);
}

// for who section
.for-who-section{
  & h1{
    //font-weight: 900;
    color: #6042b9;
  }
}
.count {
  border-radius: 50%;
  height: 50px;
  min-width: 50px;
  box-sizing: border-box;
  border: 10px solid rgba(85, 126, 185, 0.71);
  display: flex;
  border-right: 10px solid #6042b9;
  border-left: 10px solid #6042b9;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin: auto 20px auto 0;
}

@media (max-width: 768px) {
  .main-section {
    .row {
      flex-direction: column-reverse !important;
    }
  }
  .w-xs-100 {
    width: 100% !important;
  }
  .about-section {
    min-height: unset;
    & .about-box{
      font-size: 13px;
      min-width: 35px;
      height: 35px;
      border-width: 8px;
    }
    & p{
      font-size: 10px;
    }
  }
  .about-img {
    height: 210px;
  }
  .about-list {
    & li {
      font-size: 13px;
    }
  }
  .about-section {
    & .mt-sm-1 {
      margin-top: 10px !important;
    }

    & .btn {
      font-size: 14px;
    }
  }
  .box-1, .box-2, .box-3 {
    &:after, &:before {
      content: none;
    }
  }
  .steps-section {
    & h1 {
      font-size: 25px;
    }

    & h2 {
      font-size: 20px;
    }
  }

}

@media (min-width: 1400px) {
  .about-img{
    width: 85%!important;
  }
  .img0{
    width: 70%!important;
  }
  .my-offset{
    margin-left: 16.6%;
    & .text-center{
      text-align: left!important;
      margin-left: 20%;
    }
  }
}