#root{
  overflow: hidden;
}

.justify-body-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  width: 100%;
}

.navbar {
  position: fixed;
  z-index: 100;
  transition-duration: .5s;
  top: 0;
  width: 100%;
}

.section {
  padding-top: 8rem;
  min-height: 100vh;
}

.img {
  min-height: 300px;
  max-height: 350px;
  position: relative;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  background-color: grey;
  color: white;
  padding-top: 5px;
  font-size: 12px;
  min-height: 50px;
  width: 100%;
  text-align: center;
  & a{
    text-decoration: none;
    color: white;
  }
}

.list {
  list-style: none;
  padding: 0;

  & li {
    display: flex;
    margin-top: 10px;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 2px solid #6042b9;
  }
}

@media (max-width: 768px ) {
  .row-reverse{
    //flex-direction: row-reverse;
  }
  .section{
    padding-top: 2rem;
  }
}