.border-radius{
  border-radius: 20px;
}
.admin{
  margin-top: 8rem;
}

.overflow-x{
  overflow-x: scroll;
}

@media (max-width: 768px ) {
  .row>*{
    padding-right: 0;
    padding-left: 0;
  }
  .table{
    font-size: 12px;
    & .btn{
      font-size: 12px;
    }
  }
}